<div class="card"
     [ngClass]="cardClass">
  <div class="card-title">
    <a *ngIf="link; else noLinkTitle"
       [routerLink]="link"
       [tooltip]="tipTemplate"
       placement="top">{{ cardTitle }}</a>
    <ng-template #noLinkTitle>
      <span [tooltip]="tipTemplate"
            placement="top">{{ cardTitle }}</span>
    </ng-template>
  </div>
  <div class="card-body"
       [ngClass]="contentClass">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #tipTemplate>
  <span>{{ description[cardTitle] }}</span>
</ng-template>